@import 'libs/fonts';

@import 'base/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

@import 'blocks/buttons';
@import 'blocks/titles';

@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/promo';
@import 'blocks/ordering';
@import 'blocks/form';
@import 'blocks/footer';

@import 'base/media';