@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .title {
        &_main {
            font-size: 44px;
        }
    }
    .ordering {
        padding: 100px 0;
        &-scheme {
            &__element {
                &:last-child {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
    .form {
        grid-template-columns: repeat(2, 370px);
        padding: 0 95px;
        &__file {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
    }

    .footer {
        font-size: 11px;
        &__element {
            padding: 0 25px;
        }
        &__item {
            margin-right: 25px;
        }
        &__link {
            margin-right: 25px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        font-size: 30px;
        &_main {
            font-size: 36px;
            line-height: 50px;
        }
    }
    .btn {
        &:hover {
            box-shadow: none;
        }
        &_form {
            width: 345px;
        }
    }
    .header {
        &__link {
            font-size: 22px;
        }
        &__menu {
            width: 390px;
        }
    }
    .promo {
        &__wrapper {
            max-width: 600px;
        }
        &__header {
            font-size: 17px;
        }
        &__text {
            font-size: 17px;
        }
    }
    .ordering {
        padding: 75px 0;
        &__title {
            margin-bottom: 15px;
        }
        &-scheme {
            &__element {
                &:nth-child(4) {
                    &:before {
                        display: none;
                    }
                }
                &:last-child {
                    &:before {
                        display: block;
                    }
                }
            }
        }
    }
    .form {
        padding: 0;
        grid-template-columns: repeat(2, 345px);
    }
    .footer {
        &__element {
            padding: 0 25px;
            width: 260px;
            min-height: 50px;
            flex-direction: column;
            align-items: flex-start;
            flex-wrap: wrap;
            &:first-child {
                width: 240px;
            }
            &:last-child {
                align-items: flex-end;
                width: 240px;
            }
        }
        &__item {
            margin-right: 0;
        }
        &__link {
            margin-right: 0;
            &:hover {
                color: #C3C3C3;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .btn {
        &_form {
            width: 100%;
        }
    }
    .header {
        &__menu {
            height: 100vh;
            width: 470px;
            position: fixed;
            left: -100%;
            top: 0;
            transition: 0.6s all;
            &_active {
                left: 0;
            }
        }
    }
    .menu {
        height: 100%;
        padding: 50px 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(16, 16, 29, 0.9);
        &__link {
            font-size: 20px;
            line-height: 50px;
            &:hover {
                color: #FFFFFF;
            }
        }
    }
    .hamburger {
        display: block;
    }
    .promo {
        background: url(../img/main_bg.jpg) 53%/cover no-repeat;
        &__wrapper {
            width: 100%;
        }
    }
    .ordering {
        padding: 75px 0;
        &__title {
            margin-bottom: 15px;
        }
        &-scheme {
            &__element {
                &:before {
                    display: none;
                }
                &:last-child {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
    .form {
        padding: 0 85px;
        grid-template-columns: 370px;
        gap: 40px;
        &__file {
            grid-column: unset;
            grid-row: unset;
        }
        &__percent {
            grid-column: unset;
        }
        &__submit {
            grid-column: unset;
        }
    }
    .footer {
        min-height: 150px;
        &__element {
            height: 80px;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: nowrap;
        }
        &__item {
            margin-bottom: 10px;
        }
        &__link {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        font-size: 25px;
        &_main {
            font-size: 30px;
        }
    }
    .subtitle {
        font-size: 16px;
    }
    .header {
        &__menu {
            width: 70%;
        }
    }
    .menu {
        &__link {
            font-size: 18px;
        }
    }
    .promo {
        padding: 150px 0;
        &__wrapper {
            height: 600px;
        }
        &__text {
            padding-left: 0;
        }
        &__buttons {
            width: 100%;
            height: 100px;
            flex-direction: column;
            align-items: center;
        }
    }
    .ordering {
        padding: 50px 0;
        &__subtitle {
            margin-bottom: 40px;
        }
        &-scheme {
            &__element {
                margin-bottom: 5px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &__text {
                font-size: 14px;
            }
        }
    }
    .form {
        padding: 0;
        grid-template-columns: 100%;
    }
   .input-percent {
        grid-template: repeat(2, 30px) / 200px 100px;
    }
    .footer {
        padding: 0;
        &__wrapper {
            width: 100%;
            flex-wrap: wrap-reverse;
            justify-content: center;
        }
        &__element {
            padding: 0;
            min-height: 110px;
            width: 100%;
            align-items: center;
            justify-content: center;
            border-right: none;
            border-top: 1px solid #C3C3C3;
            &:first-child {
                width: 100%;
                text-align: center;
                align-items: center;
            }
            &:last-child {
                width: 100%;
                align-items: center;
                border-top: none;
            }
        }
        &__item {
            align-self: center;
            justify-content: center;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__link {
            align-self: center;
            justify-content: center;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}