.footer {
    padding: 30px 0;
    min-height: 80px;
    background: #3D4050;
    //text
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #C3C3C3;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__element {
        padding: 0 40px;
        width: 480px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-right: 1px solid #C3C3C3;
        &:first-child {
            padding-left: 0;
            width: 345px;
        }
        &:last-child {
            padding-right: 0;
            width: 345px;
            border-right: none;
        }
    }
    &__item {
        display: flex;
        justify-content: space-between;
        margin-right: 38px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        display: flex;
        color: #C3C3C3;
        text-decoration: none;
        margin-right: 38px;
        transition: 0.4s all;
        &:hover {
            color: $main-color;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__icon {
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }
    &__text {
        padding: 1px 0;
    }
}