.promo {
    /* min-height: 100vh; */
    background: url(../img/main_bg.jpg) center center/cover no-repeat;
    padding: 202px 0;
    &__wrapper {
        width: 780px;
        height: 444px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__header {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 10px;
    }
    &__list {
        list-style: none;
        padding-left: 10px;
        //text
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
    }
    &__item {
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
        &:before {
            content: '- ';
        }
    }
    &__buttons {
        width: 396px;
        display: flex;
        justify-content: space-between;
    }
    &__btn {
        width: 183px;
        height: 43px;
    }
}